.carCard {
    display: flex;
}
.carCard--image {
    width: 150px;
    height: 150px;
}
.carCard--counter {
    background-color: #bee0ec;
    width: 200px;
    height: 150px;
    padding: 0 10px;
    font-size: 1.5em;
}
.carCard--container {
    margin: 0 0 50px;
    box-shadow: 5px 5px 5px black;
    padding: 0 0 5px;
}
.carCard--buttons {
    display: flex;
}

.carCard--button {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  padding: 0 25px;
  position: relative;
  text-align: center;
  width: 100%;
}

.minus {
    background-color: lightcoral;
}